<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/acceso_denegado.css">
    <style>
    body{
        margin: 0;
        padding: 0;
        font-family: montserrat, sans-serif;
        min-height: 100vh;
        background-image: linear-gradient(to top, rgba(241, 239, 245, 0.223) 0%, rgba(242, 221, 236, 0.196) 100%), url("img/desierto.jpg");
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
    
    }
    
.container{
    width: 100%;
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
    text-align: center;
    color: #343434;
  
}

.container h1{
    font-size: 90px;
    margin: 0;
    font-weight: 900;
    letter-spacing: 20px;
    background: url(media/fondo.jpg) center no-repeat;
    
    margin-top: 100px;
}

.container a{
    text-decoration: none;
    background: #e55039aa;
    color: rgb(255, 255, 255);
    padding: 12px 24px;
    display: inline-block;
    border-radius: 25px;
    font-size: 14px;
    text-transform: uppercase;
    transition: 0.4s;
}

.container a:hover{
    background: #e55039;
}

.container h2{
    font-size: 50px;
    margin: 0;
    font-weight: 900;
    letter-spacing: 20px;
    background: url(media/fondo.jpg) ;
   
}

.container p{
    font-size: 20px;
    margin: 10;
    font-weight: 900;
    letter-spacing: 5px;
    background: url(media/fondo.jpg) center no-repeat ;
    
   
}
    


    </style>
</head>
<body>
    <div class="container">
<h2>Lo Sentimos Acceso Denegado </h2>
<h1>ERROR</h1>
<p>NO ESTA AUTORIZADO A ACCEDER A ESTA PAGINA </p>
<a href="menu_principal">Volver</a>
    </div>
</body>
</html>