<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CALCULADORA</title>
    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <!-- Stylesheet -->
    <link rel="stylesheet" href="css/calculadora.css" />
    <link href="css/ingreso.css " rel="stylesheet">
  </head>
  <body>
 
    <div class="container">
      <div class="inp-wrapper">
        <div class="date-wrapper">
          <label for="date-1">Fecha de inicio</label>
          <input type="date" id="date-1" />
        </div>
        <div class="date-wrapper">
          <label for="date-2">Fecha final</label>
          <input type="date" id="date-2" />
        </div>
      </div>
      <button id="submit">Calcular</button>
      <div id="output">Selecciones las fechas para calcular</div>
    </div>
    <!-- Script -->
    <script src="js/calculadora.js"></script>
  </body>
</html>