<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/2bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="css/2dataTables.bootstrap5.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link href="css/ingreso.css " rel="stylesheet">
    <title>EXISTENCIAS PARA LA VENTA</title>
    <style>
      body{
        background-color: rgb(177, 195, 214);
      }
    </style>
</head>
<body>
  <a href="buy"><img class="inicio1" src="img/home.png"  alt="" ></a>
  
  
<center style="padding-top: 10px;"><h1>EXISTENCIAS PARA LA VENTA</h1></center>
      
      <div class="">
       
      <table id="users" class="table table-bordered table-striped text-center " style="font-size: 19px;">
        <thead>
          <tr class="text-white" style="background-color:#efcc07d8;">
            <th scope="col">ID</th>
            <th scope="col">ARETE CERDA</th>
            <th scope="col">NOMBRE CERDA</th>   
            <th scope="col">CODIGO NACIMIENTO</th>         
            <th scope="col">PRECIO</th>    
            <th scope="col">CANTIDAD DISPONIBLE/VENTA</th>            
           
         

          </tr>
        </thead>
        <!-- <tbody>       
        </tbody> -->
      </table>

      </div>
      

      <script src="js/2bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>  
      <script type="text/javascript" language="javascript" src="js//2jquery-3.5.1.js"></script>
      <script type="text/javascript" language="javascript" src="js/2jquery.dataTables.min.js"></script>
      <script type="text/javascript" language="javascript" src="js/2dataTables.bootstrap5.min.js"></script>        
      <script src="js/2sweetalert2@10.js"></script>
  
  <script > 
  //const datos = <%- JSON.stringify(data) %>;
  //console.log(datos);
  $('#users').DataTable({    
    ajax: {
        url: "/data_codigos_venta",
        dataSrc: ""
    },   
    columns: [ 
        {"data": "id"},  
        {"data": "aretecerda"}, 
        {"data": "cerda"},       
        {'data': 'lotelechon'}, 
        {'data': 'precio'},          
        {'data': 'cantidad'},
       ],
    
    pageLength : 5,
    lengthMenu: [[5, 10, 20, -1], [5, 10, 20, 'Todos']]     
  }); 

  </script>
  
</body>
</html>