<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/2bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/2dataTables.bootstrap5.min.css">

    <link rel="stylesheet" href="css/2all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link href="css/ingreso.css " rel="stylesheet">
    <title>CONSULTAS BARRACOS</title>
    <style>
      body{
        background-color: rgba(0, 0, 0, 0.244);
      }
    </style>
</head>
<body>
  <a href="menu_principal"><img class="inicio1" src="img/home.png"  alt="" ></a>
  
  
<center style="padding-top: 10px;"><h1>CONSULTAS DE BARRACOS</h1></center>
      
      <div class="container">
          
      <table id="users" class="table table-bordered table-striped text-center " >
        <thead>
          <tr class="text-white" style="background-color:#efcc07d8;">
            <th scope="col">ID</th>
            <th scope="col">ARETE</th>
            <th scope="col">FECHA/INGRESO</th>            
            <th scope="col">NOMBRE/BARRACO</th>    
            <th scope="col">EDAD</th>            
            <th scope="col">PESO/LIBRAS</th>            
            <th scope="col">FECHA/VACUNACIÓN</th>            
            <th scope="col">FECHA/MONTA</th>    
            <th scope="col">CANTIDAD/MONTAS</th>      
            
       

          </tr>
        </thead>
        <!-- <tbody>       
        </tbody> -->
      </table>

      </div>
      

  <script src="js/2bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>  
  <script type="text/javascript" language="javascript" src="js//2jquery-3.5.1.js"></script>
  <script type="text/javascript" language="javascript" src="js/2jquery.dataTables.min.js"></script>
  <script type="text/javascript" language="javascript" src="js/2dataTables.bootstrap5.min.js"></script>        
  <script src="js/2sweetalert2@10.js"></script>
  
  <script > 
  //const datos = <%- JSON.stringify(data) %>;
  //console.log(datos);
  $('#users').DataTable({    
    ajax: {
        url: "/data_consultas_barracos",
        dataSrc: ""
    },   
    columns: [ 
        {"data": "id"},        
        {'data': 'arete'},
        {'data': 'fechaIn'}, 
        {'data': 'nombre'},          
        {'data': 'edad'}, 
        {'data': 'peso'}, 
        {'data': 'fvacunacion'}, 
        {'data': 'fmonta'}, 
        {'data': 'cantmontas'},
       
    ],
    
    pageLength : 5,
    lengthMenu: [[5, 10, 20, -1], [5, 10, 20, 'Todos']]     
  }); 


  function confirmar(id) {
    Swal.fire({
        title: '¿Está seguro que desea eliminar el registro: '+id+'?',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#d33',
        cancelButtonColor: '#6c757d',
        confirmButtonText: 'Confirmar'
      }).then((result) => {
        if (result.isConfirmed) {   
          window.location = '/delete2/'+id;                              
        }
    });
  };
  </script>

</body>
</html>