<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Agropecuaria Cali </title>
    <link rel="stylesheet" href="css/estilos_inicio_presentacion.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
 <link rel="stylesheet" href="css/estilosPortafolio.css"> <!-- Insertamos el css en el html principal-->
 <link href="css/ingreso.css " rel="stylesheet">
</head>
<body>
  
     <header id="inicio">
        <nav class="nav">
            <a href="/login"><img class="inicio1" src="img/Logoinicio.png"  alt="" ></a>
            <img src="img/logo.ico" alt="" class="logo">
            <ul class="menu">
                <li><a href="#inicio">Inicio</a></li>
                <li><a href="#servicio">Servicios</a></li>
                <li><a href="#portafolio">Portafolio</a></li>
                <li><a href="#expertos">Quienes somos</a></li>
                <li><a href="#contacto">Contacto</a></li>
                <li><a href="/login">Ingresar al sistema</a></li>
            </ul>
        </nav>

    
    
    <div class="contenedor head">
<h1 class="titulo"> Agropecuaria Cali </h1>
<p class="copy">Somos una empresa de desarrollo y producción de lechones con buenas y correctas instalaciones con excelentes controles y 
    buena calidad de alimentación contamos con 22 cerdas 
    semi-tecnificadas y con alta genética nos caracteriza las instalaciónes adecuadas y la limpieza.</p>
    </div>
</header>
<div class="scrol" id="servicio">
</div>

<main>
     <section class=" contenedor" >
     <h2 class="subtitulo">Nuestro Servicio</h2>
     <div class="contenedor-servicio">
     <img src="img/Dinero.svg" alt="">
     <div class="checklist-servicio ">
        <div class="service" >
            <h3 class="n-service"><span class="number">1</span>Produccion</h3>
            <p >Lo que no se mide, no se puede mejorar.
                Una filosofia ya conocida en el mundo del sector porcino, para conseguir que muestros clientes sigan mejorando año tras año y siempre esten ivgentes del sector.
                
                Una de las prioridades de nuestra empresa es el control de produccion para mejorar la competitividad en un sector como lo es San Lucas Toliman que avanza rapidamente.</p>
        </div>
        <div class="service">
            <h3 class="n-service"><span class="number">2</span>Alimentacion</h3>
            <p>¿Aún malgastas dinero en la alimentación de tus animales?
                Con la de alimentación GESTAL y nuestro apoyo podrás optimizar los costes destinados a la alimentación dentro de tu granja de porcino.</p>
        </div>
    </div>
    </div>
    
</section>
<div id="portafolio"></div>
<section class="gallery" id="portafolio">
<div class="contenedor">
    <h2 class="subtitulo">Galeria</h2>
    <div class="contenedor-galeria">
        <img src="img/cerdo1.jpg" alt="" class="img-galeria">
        <img src="img/cerdo_2.jpg" alt="" class="img-galeria" >
        <img src="img/cerdo3.jpg" alt="" class="img-galeria">
        <img src="img/cerdo4.jpg" alt="" class="img-galeria">
        <img src="img/cerdo5.jpg" alt="" class="img-galeria">
        <img src="img/cerdo6.jpg" alt="" class="img-galeria">
    </div>
</div>
</section>
<section class="imagen-light">
    <img src="img/x.svg" alt="" class="close" >
    <img src="" alt="" class="agregar-imagen">
</section> 
<div id="expertos"></div>
<section class="contenedor1" >
    <h2 class="subtitulo1"> Quienes Somos</h2>
    <section class="experts"> 
        <div class="cont-expert">
            <img src="img/Quienes.svg" alt="">
            <p>Somos una empresa de desarrollo y producción de lechones llamada 
                “ Agropecuaria Cali” con buenas y correctas instalaciones con excelentes 
                controles y buena calidad de alimentación contamos con 22 cerdas semi-tecnificadas y 
                con alta genética nos caracteriza las instalaciónes adecuadas y la limpieza.</p>
            <h3 class="n-expert">Mision</h3>
        </div>
        <div class="cont-expert">
            <img src="img/Mision.svg" alt="">
            <p>Posicionarnos en el mercado como la mejor granja productora
                 porcina con un enfoque claro y abierto con un excelente enfoque global ofreciendo 
                 a nuestros clientes excelente calidad.</p>
            <h3 class="n-expert">Vision</h3>
            <img src="img/Vision.svg" alt="">
            <p>
                Ser lider en mercado porcicola en el municipio de San Lucas Toliman 
                y en el departamento de Solola produciendo cerdos de alta gama para el cliente.
                Manteniendo un alto compromiso hacia la comunidad e impulsando el
                 desarrollo del municipio y comprometido con el medio ambiente.
                </p>
        </div>
    
    </section>
</section>
</main>
<footer  id="contacto">
    <div class="contenedor footer-content">
        <div class="contact-us">
<h2 class="brand">Contacta con nosotros</h2>
<p class="brands" > Somos la mejor granja de San Lucas Toliman </p>
<p class="brands"> Dirección:
    6a avenida 5-09 zona 1 San Lucas Toliman </p>
<p class="brands">  Teléfono: 41802220-42676447 </p>
<p class="brands"> Correo :
    carlosvicente25@hotmail.com-karynmaritza@gmail.com </p>

    
        </div>
        
        <div class="social-media">
           

            <div class="contact-section"id="contactarme">
        <div class="contact-heading">
         
          <div class="divider"></div>
        </div>
        
        </div>
        <div class="container-contact">

            <div class="contact-form">
              <h4 class="brands1">Enviame un mensaje...</h4>
              <form class="form-group" action="https://formsubmit.co/karynmaritza@gmail.com" method="POST">
                <input type="text" name="nombre" placeholder="Nombre" id="nombre"/>
                <input type="email" name="email" placeholder="Escribe tu correo" id="email"/>
                <textarea name="message" placeholder="Escribe tu mensaje..."></textarea>
                <button type="submit" class="btn-submit">ENVIAR MENSAJE</button>
              </form>
            </div> 
          </div>
         
    </div>
    
   
    <a href="  https://www.facebook.com/profile.php?id=100045540817784" class="social-media-icon"><i class='bx bxl-facebook-circle'></i></a>
   
  </div>
    
<div class="line"></div>

</footer>


<script src="js/menu.js"> </script>

</body>
</html>