<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/2bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/2dataTables.bootstrap5.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link href="css/ingreso.css " rel="stylesheet">
    <title>MENÚ BARRACOS</title>
    <style>
      body{
        background-color: rgb(177, 195, 214);
      }
    </style>
</head>
<body>
 
  <a href="menu_principal"><img class="inicio1" src="img/home.png"  alt="" ></a>
 
<center style="padding-top: 10px;"><h1>MENÚ DE BARRACOS</h1></center>
      
      <div class="" id="imprimible">
        <a href="/nuevo_barraco" class="btn btn-primary mt-4"><i class="fas fa-plus-square"></i></a>    
      <table id="users" class="table table-bordered table-striped text-center " style="font-size: 14px;">
        <thead>
          <tr class="text-white" style="background-color:#6200ee;">
            <th scope="col">ID</th>
            <th scope="col">ARETE</th>
            <th scope="col">FECHA/INGRESO</th>            
            <th scope="col">NOMBRE/BARRACO</th>    
            <th scope="col">EDAD</th>            
            <th scope="col">PESO/LIBRAS</th>            
            <th scope="col">FECHA/VACUNACIÓN</th>            
            <th scope="col">FECHA/MONTA</th>    
            <th scope="col">CANTIDAD/MONTAS</th>      
            <th scope="col"></th>   
            <th scope="col">ACCIONES</th>  
            <th scope="col"></th>  
       

          </tr>
        </thead>
        <!-- <tbody>       
        </tbody> -->
      </table>

      </div>
      

      <script src="js/2bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>  
      <script type="text/javascript" language="javascript" src="js//2jquery-3.5.1.js"></script>
      <script type="text/javascript" language="javascript" src="js/2jquery.dataTables.min.js"></script>
      <script type="text/javascript" language="javascript" src="js/2dataTables.bootstrap5.min.js"></script>        
      <script src="js/2sweetalert2@10.js"></script>
  
  <script > 
  //const datos = <%- JSON.stringify(data) %>;
  //console.log(datos);
  $('#users').DataTable({    
    ajax: {
        url: "/data_ingreso_barracos",
        dataSrc: ""
    },   
    columns: [ 
        {"data": "id"},        
        {'data': 'arete'},
        {'data': 'fechaIn'}, 
        {'data': 'nombre'},          
        {'data': 'edad'}, 
        {'data': 'peso'}, 
        {'data': 'fvacunacion'}, 
        {'data': 'fmonta'}, 
        {'data': 'cantmontas'},
        {"data": null,
            "render": function (data) { 
                return '<a href="/edit2/'+data.id+ '"class="btn btn-info"><i class="fas fa-edit"></i></a>'      
                                 
              
              }
        },
        {"data": null,
            "render": function (data) { 
                return '<a onclick="confirmar('+data.id+')" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>'      
                                 
              
              }
        },
        {"data": null,
            "render": function (data) { 
                return '<a href="/imprimirBarracos/'+data.id+'"class="btn btn-success"><i class="fas fa-print"></i></a>'      
                                 
              
              }
        },
    ],
    
    pageLength : 5,
    lengthMenu: [[5, 10, 20, -1], [5, 10, 20, 'Todos']]     
  }); 


  function confirmar(id) {
    Swal.fire({
        title: '¿Está seguro que desea eliminar el registro: '+id+'?',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#d33',
        cancelButtonColor: '#6c757d',
        confirmButtonText: 'Confirmar'
      }).then((result) => {
        if (result.isConfirmed) {   
          window.location = '/delete2/'+id;                              
        }
    });
  };
  </script>







</body>
</html>