<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/2bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="css/2dataTables.bootstrap5.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link href="css/ingreso.css " rel="stylesheet">
    <title>MENÚ DE DESTETE</title>
    <style>
      body{
        background-color: rgb(177, 195, 214);
      }
    </style>
</head>
<body>
  <a href="menu_ingreso_nacimientos"><img class="inicio1" src="img/home.png"  alt="" ></a>
  
  
<center style="padding-top: 10px;"><h1>MENU DE DESTETE</h1></center>
      
      <div class="">
          
      <table id="users" class=" table table-bordered table-striped text-center " style="font-size: 10px; ">
        <thead>
          <tr class="text-white" style="background-color:#6200ee;">
            <th scope="col">ID</th>
            <th scope="col">ARETE CERDA</th>
            <th scope="col">NOMBRE CERDA</th>            
            <th scope="col">NO PARTO</th>    
            <th scope="col">FECHA PARTO</th>            
            <th scope="col">PESO LIBRAS/ LECHON1</th>   
            <th scope="col">PESO LIBRAS/ LECHON2</th>           
            <th scope="col">PESO LIBRAS/ LECHON3</th>  
            <th scope="col">PESO LIBRAS/ LECHON4</th>  
            <th scope="col">PESO LIBRAS/ LECHON5</th>  
            <th scope="col">PESO LIBRAS/ LECHON6</th>  
            <th scope="col">PESO LIBRAS/ LECHON7</th>  
            <th scope="col">PESO LIBRAS/ LECHON8</th>  
            <th scope="col">PESO LIBRAS/ LECHON9</th>  
            <th scope="col">PESO LIBRAS/ LECHON10</th>  
            <th scope="col">PESO LIBRAS/ LECHON11</th>  
            <th scope="col">PESO LIBRAS/ LECHON12</th>  
            <th scope="col">PESO LIBRAS/ LECHON13</th>  
            <th scope="col">PESO LIBRAS/ LECHON14</th>  
         
            <th scope="col">TOTAL PESO</th>         
            <th scope="col">ENCARGADO</th>      
            <th scope="col"></th>   
            <th scope="col">ACCIONES</th>  
            <th scope="col"></th>  
   
          
        

          </tr>
        </thead>
        <!-- <tbody>       
        </tbody> -->
      </table>

      </div>
      

    
      <script type="text/javascript" language="javascript" src="js//2jquery-3.5.1.js"></script>
      <script type="text/javascript" language="javascript" src="js/2jquery.dataTables.min.js"></script>
      <script type="text/javascript" language="javascript" src="js/2dataTables.bootstrap5.min.js"></script>        
      <script src="js/2sweetalert2@10.js"></script>
  
  <script > 
  //const datos = <%- JSON.stringify(data) %>;
  //console.log(datos);
  $('#users').DataTable({    
    ajax: {
        url: "/data_destete",
        dataSrc: ""
    },   
    columns: [ 
        {"data": "id"},        
        {'data': 'aretecerda'},
        {'data': 'nomcerda'}, 
        {'data': 'noparto'},          
        {'data': 'fechaparto'}, 
        {'data': 'lechon1'}, 
        {'data': 'lechon2'},
        {'data': 'lechon3'},
        {'data': 'lechon4'},
        {'data': 'lechon5'},
        {'data': 'lechon6'},
        {'data': 'lechon7'},
        {'data': 'lechon8'},
        {'data': 'lechon9'},
        {'data': 'lechon10'},
        {'data': 'lechon11'},
        {'data': 'lechon12'},
        {'data': 'lechon13'},
        {'data': 'lechon14'},
        {'data': 'totalpeso'},
        {'data': 'encargado'},
        
        {"data": null,
            "render": function (data) { 
                return '<a href="/edit9/'+data.id+ '"class="btn btn-info"><i class="fas fa-edit"></i></a>'      
                                 
              
              }
        },
        {"data": null,
            "render": function (data) { 
                return '<a onclick="confirmar('+data.id+')" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>'      
                                 
              
              }
        },
        {"data": null,
            "render": function (data) { 
                return '<a href="/imprimirDestete/'+data.id+'"class="btn btn-success"><i class="fas fa-print"></i></a>'      
                                 
              
              }
        }
    ],
    
    pageLength : 5,
    lengthMenu: [[5, 10, 20, -1], [5, 10, 20, 'Todos']]     
  }); 


  function confirmar(id) {
    Swal.fire({
        title: '¿Está seguro que desea eliminar el registro: '+id+'?',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#d33',
        cancelButtonColor: '#6c757d',
        confirmButtonText: 'Confirmar'
      }).then((result) => {
        if (result.isConfirmed) {   
          window.location = '/delete9/'+id;                              
        }
    });
  };
  </script>


</body>
</html>